.calculator {
  width: 420px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.display {
  min-height: 80px; /* Altura mínima do visor */
  background-color: #222;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-y: hidden; /* Oculta a barra de rolagem vertical */
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #bbb;
}

.button:active {
  background-color: #aaa;
}

.button:last-of-type {
  grid-column: span 2;
}
